body {
	background-color: #f1f1f1!important;
	font-family: Helvetica, Arial, sans-serif;
	color:#000!important;
}

.center { text-align: center; }

a {
	text-decoration: none;
	color: #006666;
	font-weight: bold;
  	border: 0px;
}

h1, h2, h3 {
	margin: 0;
}

#container {
	background-color: #EEE;
	max-width: 980px;
	margin: auto;
	margin-top:16px!important;
}

#header {
	background-color: #66CCFF;
	color: white;
	text-align: center;
	padding: 10px;
}
#content {
	padding:0 8px;
	content:"";
	display:table;
	clear:both
}

#nav {
	background-color: white;
	width: 100%;
	float: left;
	padding:0 8px
	color: #757575;
}
#nav @media {
	width:33.33333%
}

#nav ul {
	list-style-type: none;
	padding: 0;
}

#nav .selected {
	font-weight: bold;
}

#main {
	background-color: white;
	width: 600px;
	float: right;
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)
	padding: 10px;
	color: #757575;
}

#footer {
	clear: both;
	padding: 10px;
	background-color: #999;
	color: white;
	text-align: right;
}
